ul {font-weight: bolder;}

body {background-color:azure; color:blue; font-family:Verdana, Geneva, Tahoma, sans-serif}

a {background-color:cornflowerblue;}

img {border: 5px solid blue}

.dikgedrukt {font-weight: bold}

h2 {font-size: 18px;}