body {background-color:lightcoral; color: red; font-family:Verdana, Geneva, Tahoma, sans-serif}

a {background-color:rgb(236, 76, 76); color: black}

img {border: 5px dashed red}

.dikgedrukt {font-weight: bold}

h2 {font-size: 26px;}s